{% load static %}

<header class="bg-teal-800 text-white flex justify-between items-center shadow-md py-2 px-4">
  <div class="flex items-center space-x-3">
    <!-- Botón para ocultar/mostrar sidebar -->
    <button id="toggleSidebar" class="mb-0 px-3 py-1 bg-teal-600 text-white rounded hover:bg-teal-500">
      ☰
    </button>
    <img src="{% static 'login/logo.png' %}" alt="Logo" class="h-12 w-auto">
    <h1 class="text-lg font-semibold tracking-wide">SensorFarms - Monitoreo de Aguas Grises</h1>
  </div>

  <div class="flex items-center space-x-4">
    <span class="text-sm">Bienvenida, {{ user.username|default:'Invitado' }}</span>
    <a href="#" class="bg-teal-600 hover:bg-teal-500 px-3 py-1 rounded-md text-sm font-medium">Cerrar sesión</a>
  </div>
</header>
