{% load static %}


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}SensorFarms{% endblock %}</title>

  <!-- Tailwind CSS desde CDN -->
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

  <!-- SweetAlert2 desde CDN -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


  <!-- (Opcional) Ícono del sitio -->
  <link rel="icon" type="image/png" href="{% static 'login/logo.png' %}">
</head>
