{% load static %}

<div class="flex min-h-screen flex-col">
  
  <!-- Contenido y sidebar -->
  <div class="flex flex-1">

    <!-- Sidebar -->
    <aside id="sidebar" class="w-64 bg-teal-900/70 backdrop-blur-lg text-white flex flex-col items-start p-6 space-y-4 relative rounded-r-lg shadow-lg transition-transform duration-300">
      <img src="{% static 'login/logo.png' %}" class="w-32 mb-6" alt="Logo">
      <h1 class="text-xl font-bold mb-6">SensorFarms</h1>

      {% for enlace in enlaces_sidebar %}
        {% if enlace.url_name %}
          <a href="{% url enlace.url_name %}" class="w-full text-center py-2 bg-teal-800 rounded hover:bg-teal-600">{{ enlace.nombre }}</a>
        {% else %}
          <a href="#" class="w-full text-center py-2 bg-teal-800 rounded opacity-50 cursor-not-allowed">{{ enlace.nombre }}</a>
        {% endif %}
      {% endfor %}
    </aside>

    <!-- Contenido principal -->
    <main class="flex-1 p-6">
      {% block contenido %}{% endblock %}
    </main>

  </div>

  
</div>

<script>
  const sidebar = document.getElementById('sidebar');
  const toggleBtn = document.getElementById('toggleSidebar');

  toggleBtn?.addEventListener('click', () => {
    sidebar.classList.toggle('-translate-x-full');  // oculta o muestra el sidebar
  });
</script>
